@{
    ViewData["Title"] = "Verification successful.";
}
<div class="auth-page">

    <h2>Your email has been verified.</h2>
    <p>You can <a href="@Url.Action("Login", "Account")">log in here</a>.</p>
</div>
