@{
    ViewData["Title"] = "Register Confirmation";
}

<div class="auth-page">
    <h2>Please check your email.</h2>
    <p>A confirmation email has been sent to the email address you registered. Please verify it to complete your account creation.</p>
</div>
