<!-- breadcrumb area start -->
<div class="page-layout" data-background="@Url.Content("~/img/slider/coverimg.png")">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="breadcrumb-area text-center">
                    <h2 class="page-title">Blog</h2>
                    @* <div class="breadcrumb-menu"> *@
                    @*     <nav aria-label="breadcrumb"> *@
                    @*         <ol class="breadcrumb justify-content-center"> *@
                    @*             <li class="breadcrumb-item"><a href="index.html">Home</a></li> *@
                    @*             <li class="breadcrumb-item"><a href="blog-large.html">Blog - large</a></li> *@
                    @*         </ol> *@
                    @*     </nav> *@
                    @* </div> *@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->

<!-- blog area start  -->
<div class="blog__area mb-100 pt-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div class="bigpost-wrapper">
                    <div class="grid_blog mb-40">
                        <div class="blog-thumb">
                            <img src="~/img/blog/6.jpg" alt="">
                            <div class="grid_blog__content">
                                <h4 class="pt-20">Creative, Creative, graphy </h4>
                                <h2 class="b-title mb-20"><a href="blog-details.html">completely transform a boring</a></h2>
                                <p>It is accompanied by a case that can contain up to three different diffusers and can be used for dry storage of loose tea. The perfect way to enjoy brewing tea on low hanging fruit to identify…</p>
                                <div class="post-meta pt-10">
                                    <p>Post Date: <span> August 4, 2020 </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid_blog mb-40">
                        <div class="blog-thumb">
                            <img src="~/img/blog/7.jpg" alt="">
                            <div class="grid_blog__content">
                                <h4 class="pt-20">Take A Look At The Most Photo</h4>
                                <h2 class="b-title mb-20"><a href="blog-details.html">important part of improving at </a></h2>
                                <p>It is accompanied by a case that can contain up to three different diffusers and can be used for dry storage of loose tea. The perfect way to enjoy brewing tea on low hanging fruit to identify…</p>
                                <div class="post-meta pt-10">
                                    <p>Post Date: <span> August 4, 2020 </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid_blog mb-40">
                        <div class="blog-thumb">
                            <img src="~/img/blog/8.jpg" alt="">
                            <div class="grid_blog__content">
                                <h4 class="pt-20">Sunglasses To Wear This Summer</h4>
                                <h2 class="b-title mb-20"><a href="blog-details.html">photography has been sharing it</a></h2>
                                <p>It is accompanied by a case that can contain up to three different diffusers and can be used for dry storage of loose tea. The perfect way to enjoy brewing tea on low hanging fruit to identify…</p>
                                <div class="post-meta pt-10">
                                    <p>Post Date: <span> August 4, 2020 </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid_blog mb-40">
                        <div class="blog-thumb">
                            <img src="~/img/blog/9.jpg" alt="">
                            <div class="grid_blog__content">
                                <h4 class="pt-20">Men Wearing Canvas Boots</h4>
                                <h2 class="b-title mb-20"><a href="blog-details.html">Sign up for an Exposure account</a></h2>
                                <p>It is accompanied by a case that can contain up to three different diffusers and can be used for dry storage of loose tea. The perfect way to enjoy brewing tea on low hanging fruit to identify…</p>
                                <div class="post-meta pt-10">
                                    <p>Post Date: <span> August 4, 2020 </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid_blog mb-40">
                        <div class="blog-thumb">
                            <img src="~/img/blog/10.jpg" alt="">
                            <div class="grid_blog__content">
                                <h4 class="pt-20">Celebrating Female Leaders</h4>
                                <h2 class="b-title mb-20"><a href="blog-details.html">Major companies all over</a></h2>
                                <p>It is accompanied by a case that can contain up to three different diffusers and can be used for dry storage of loose tea. The perfect way to enjoy brewing tea on low hanging fruit to identify…</p>
                                <div class="post-meta pt-10">
                                    <p>Post Date: <span> August 4, 2020 </span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-6">
                <div class="sidebar__wrapper">
                    <div class="mainBlog text-center mb-50">
                        <div class="blog__widget">
                            <div class="mainBlog__thumb">
                                <img src="~/img/blog/widget-blog.png" alt="">
                            </div>
                            <div class="mainBlog__content pt-10">
                                <p>There are many variations of passages of<br> lorem ipsum available, but the majority have<br> suffered alteration in some form, by injected<br> humour or randomised words which don’t <br>look even slightly believable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="search__widget mb-35">
                        <h4 class="mb-40 blog-s-title">Search</h4>
                        <div class="custom-form">
                            <form action="#" method="POST">
                                <input type="text" placeholder="search . . .">
                                <button type="submit"><i class="fal fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="common-widget mb-50">
                        <h4 class="mb-40 blog-s-title">Popular Post</h4>
                        <div class="singleBlog mb-30">
                            <img src="~/img/blog/1.jpg" alt="">
                            <div class="singleBlog__content">
                                <p>
                                    Diam arcu, fringilla a sem con
                                </p>
                                <span>August 4, 2020</span>
                            </div>
                        </div>
                        <div class="b_single pt-30 mb-20">
                            <div class="b_single__thumb">
                                <img src="~/img/blog/7.jpg" alt="">
                            </div>
                            <div class="b_single__content">
                                <a href="blog-large.html">Top 10 Outdoor Items For Your </a>
                                <span>August 4, 2020</span>
                            </div>
                        </div>
                        <div class="b_single pt-30 mb-20">
                            <div class="b_single__thumb">
                                <img src="~/img/blog/1.jpg" alt="">
                            </div>
                            <div class="b_single__content">
                                <a href="blog-large.html">Take A Look At The Most Photo  </a>
                                <span>August 4, 2020</span>
                            </div>
                        </div>
                        <div class="b_single pt-30 mb-20">
                            <div class="b_single__thumb">
                                <img src="~/img/blog/8.jpg" alt="">
                            </div>
                            <div class="b_single__content">
                                <a href="blog-large.html">Simple & Easy DIY Flower Deco  </a>
                                <span>August 4, 2020</span>
                            </div>
                        </div>
                        <div class="b_single pt-30 mb-20">
                            <div class="b_single__thumb">
                                <img src="~/img/blog/3.jpg" alt="">
                            </div>
                            <div class="b_single__content">
                                <a href="blog-large.html">Sunglasses To Wear This Summer  </a>
                                <span>August 4, 2020</span>
                            </div>
                        </div>
                    </div>
                    <div class="common-widget mb-50">
                        <h4 class="mb-40 blog-s-title">Categories</h4>
                        <div class="blog-category">
                            <ul>
                                <li><a href="blog-large.html">creative<span>(5)</span></a></li>
                                <li><a href="blog-large.html">image <span>(4)</span></a></li>
                                <li><a href="blog-large.html">music<span>(2)</span></a></li>
                                <li><a href="blog-large.html">travel<span>(5)</span></a></li>
                                <li><a href="blog-large.html">uncategorized<span>(5)</span></a></li>
                                <li><a href="blog-large.html">videos<span>(3)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="common-widget newsletter mb-50">
                        <h4 class="mb-20 blog-s-title">Join Our List</h4>
                        <p>Subscribe to our newsletter and stay updated<br> to our best offers and deals!</p>
                        <div class="newsletter">
                            <form action="#">
                                <input type="email" placeholder="subscribe our newsletter">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                    <div class="common-widget padding-remove mb-50">
                        <h4 class="mb-20 blog-s-title">Tag</h4>
                        <div class="tags">
                            <a href="blog.html">Basketball</a>
                            <a href="blog.html">Handbag</a>
                            <a href="blog.html">Jackets</a>
                            <a href="blog.html">Kids & Young</a>
                            <a href="blog.html">Training Wear</a>
                            <a href="blog.html">Women’s</a>
                        </div>
                    </div>
                    <div class="common-widget instagram">
                        <h4 class="mb-20 blog-s-title">Instagram</h4>
                        <div class="instagram-images pt-20 text-center">
                            <a class="popup-image" href="~/img/blog/s1.jpg"><img src="~/img/blog/s1.jpg" alt=""></a>
                            <a class="popup-image" href="~/img/blog/s2.jpg"><img src="~/img/blog/s2.jpg" alt=""></a>
                            <a class="popup-image" href="~/img/blog/s3.jpg"><img src="~/img/blog/s3.jpg" alt=""></a>
                            <a class="popup-image" href="~/img/blog/s4.jpg"><img src="~/img/blog/s4.jpg" alt=""></a>
                            <a class="popup-image" href="~/img/blog/s5.jpg"><img src="~/img/blog/s5.jpg" alt=""></a>
                            <a class="popup-image" href="~/img/blog/s6.jpg"> <img src="~/img/blog/s6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog area end  -->