@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="search_area">
    <div class="search_close">
        <span><i class="fal fa-times"></i></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="search-wrapper text-center">
                    <h2>search</h2>
                    <div class="search-filtering pt-30">
                        <div class="search_tab">
                            <ul class="nav nav-tabs justify-content-center mb-55" id="myTab2" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="home-tab2" data-bs-toggle="tab"
                                            data-bs-target="#home2" type="button" role="tab"
                                            aria-selected="true">
                                        All categories
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab2" data-bs-toggle="tab"
                                            data-bs-target="#profile2" type="button" role="tab"
                                            aria-selected="false">
                                        Basketball
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#contact2" type="button" role="tab"
                                            aria-selected="false">
                                        Handbag
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="sportswear-tab" data-bs-toggle="tab"
                                            data-bs-target="#sportswear" type="button" role="tab"
                                            aria-selected="false">
                                        Sportswear
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent2">
                                <div class="tab-pane fade show active" id="home2" role="tabpanel">
                                </div>
                                <div class="tab-pane fade" id="profile2" role="tabpanel">
                                </div>
                                <div class="tab-pane fade" id="contact2" role="tabpanel">
                                </div>
                                <div class="tab-pane fade" id="sportswear" role="tabpanel">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main_search">
                        <form action="#">
                            <input type="text" name="search" placeholder="search products">
                            <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fix">
    <div class="side-info">
        <button class="side-info-close"><i class="fal fa-times"></i></button>
        <div class="side-info-content">
            <div class="mobile-menu"></div>
            <div class="contact-infos mb-30">
                <div class="contact-list mb-30">
                    <h4>Office Address</h4>
                    <p>
                        Thu  Dau Mot, Binh Duong, Viet Nam
                    </p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Phone Number</h4>
                    <p>0983.301.103</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Email Address</h4>
                    <p>ktm.contact@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>

<!-- cart area start  -->
<div class="cart__sidebar">
    <div class="container">
        <div class="cart__content">
            <div class="cart-text">
                <h3 class="mb-40">Shopping cart</h3>
                <div class="add_cart_product">
                    <div class="add_cart_product__thumb">
                        <img src="@Url.Content("~/img/product/29-3.jpg")" alt="">
                    </div>
                    <div class="add_cart_product__content">
                        <h5><a asp-controller="Shop" asp-action="Index">Running 3-Stripes</a></h5>
                        <p>1 × $66.00</p>
                        <button class="cart_close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
                <div class="add_cart_product">
                    <div class="add_cart_product__thumb">
                        <img src="@Url.Content("~/img/product/17.jpg")" alt="">
                    </div>
                    <div class="add_cart_product__content">
                        <h5><a asp-controller="Shop" asp-action="Index">Buddy non Stripes</a></h5>
                        <p>1 × $40.00</p>
                        <button class="cart_close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="cart-icon">
                <i class="fal fa-times"></i>
            </div>
            <div class="cart-bottom">
                <div class="cart-bottom__text">
                    <span>Subtotal:</span>
                    <span class="end">$121.00</span>
                    <a asp-controller="Cart" asp-action="Index">view cart</a>
                    <a asp-controller="Home" asp-action="Checkout">checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cart-offcanvas-overlay"></div>
<!-- cart area end  -->
<!-- contact area start -->
<div class="contact__area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="contact__content text-center mb-140">
                    <h2>Contact Us</h2>
                    <p>Looking for the perfect football jersey? Explore our latest collections and show your support for your favorite team in style. Quality, comfort, and passion — all in one place.</p>
                </div>
            </div>
        </div>
        <div class="contact-wrapper">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
                    <div class="contactbox">
                        <div class="contactbox__heading">
                            <h5>Contact us</h5>
                            <h2>Please contact us quickly if <br>you need help.</h2>
                        </div>
                        <div class="contactbox__info pt-20">
                            <h5>Binh Duong Add:</h5>
                            <ul>
                                <li> Nam Ky Khoi Nghia, Hoa Phu
                                    Thu Dau Mot, Binh Duong.</li>
                                <li>Open: 9:30 am – 9:00 pm</li>
                            </ul>
                        </div>
                        <div class="contactbox__info pt-20">
                            <h5>Binh Phuoc Add</h5>
                            <ul>
                                <li>Tan Thanh, Dong Xoai, Binh Phuoc</li>
                                <li>Open: 9:30 am – 9:00 pm</li>
                            </ul>
                        </div>
                        <div class="contactbox__info pt-20">
                            <h5>Contacts Email:</h5>
                            <ul>
                                <li>ktm.contact@gmail.com</li>
                                <li>0983.301.103</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-md-6">
                    <div class="form">
                        <h5>write to us</h5>
                        <form action="#" method="POST">
                            <div class="c-input-group">
                                <label>Your Email (required)</label>
                                <input type="text">
                            </div>
                            <div class="c-input-group">
                                <label>Subject</label>
                                <input type="text">
                            </div>
                            <div class="c-input-group">
                                <label>Your Message</label>
                                <textarea name="message"></textarea>
                            </div>
                            <div class="submit-btn">
                                <input type="submit" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact area end -->

<div class="map__area">
    <div class="google-map contact-map">
        @* <iframe class="w-100" height="800" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.91477055202!2d-74.11976321327155!3d40.69740344214894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1612427122501!5m2!1sen!2sbd"></iframe> *@
        <iframe class="w-100" height="800" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3915.812833113902!2d106.66393477521599!3d11.05265518911343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1d7df763eaf%3A0xf4323e44f2867057!2zxJDhuqFpIGjhu41jIFF14buRYyB04bq_IE1p4buBbiDEkMO0bmc!5e0!3m2!1svi!2s!4v1749842459969!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
</div>